<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642856516925-6rvfhnh3i0ee4hnudcvt931286b6phnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642856516925-6rvfhnh3i0ee4hnudcvt931286b6phnq</string>
	<key>API_KEY</key>
	<string>AIzaSyD4AxHG2pXvc3eRBklfIFrnUpwc43dsRkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>642856516925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onez.time-attendance</string>
	<key>PROJECT_ID</key>
	<string>time-attendance-onez</string>
	<key>STORAGE_BUCKET</key>
	<string>time-attendance-onez.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642856516925:ios:593356322a4647eb15d954</string>
</dict>
</plist>